.signupForm{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.signupForm div{
    display:flex;
    flex-direction: column;
    margin-top:1%;
}
.signupForm div img {
    width:50%;
    margin:auto;
    padding-top:15%;
}
.signupForm div label{
    width:fit-content;
    margin:auto;
    padding:2%;
}
.signupForm div input{
    max-width:80%;
    margin:auto;
}
#specificButtonSize{
    width:100%;
    height:50%;
    padding-top:1%;
    
}