.editor {
    max-width: fit-content;
    margin: auto;
    max-height: 1000px;
    background-color: #ffffff;
    margin-bottom: 5%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
    height: auto;
    position: relative;
}
.preview {
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid gray;
}
.rdw-image-wrapper {
    visibility: hidden;
}
/* .rdw-embedded-wrapper img{
    visibility: hidden;
  } */
/* .rdw-option-wrapper {
    visibility: hidden;
  } */
/* content overflowing */
.wrapper-class {
    max-height: 1000px;
    min-height: 300px;
    width: 100%;
    overflow: auto;
}
.toolbar-class {
    position: sticky;
    top: 0;
    z-index: 100;
}
.wrapper-class .rdw-editor-wrapper{
    background-color: black;
}

.editor {
    border-top: 3px outset rgba(0,0,0.2);
	border-left: 3px outset rgba(0,0,0.3);
	border-right: 3px outset rgba(0,0,0.5);
	border-bottom: 3px outset rgba(0,0,0.5);
    background-color: rgba(253, 253, 253, 0);
}
.rdw-editor-toolbar{
    background-color: rgba(253, 253, 253, 0);
    border-top: 3px outset rgba(0,0,0.2);
	border-left: 3px outset rgba(0,0,0.3);
	border-right: 3px outset rgba(0,0,0.5);
	border-bottom: 3px outset rgba(0,0,0.5);
}
.rdw-option-wrapper{
    background-color: rgba(253, 253, 253, 0);
    border-top: 3px outset rgba(0,0,0.2);
	border-left: 3px outset rgba(0,0,0.3);
	border-right: 3px outset rgba(0,0,0.5);
	border-bottom: 3px outset rgba(0,0,0.5);

}
.rdw-dropdown-wrapper{
    background-color: rgba(253, 253, 253, 0);
    border-top: 3px outset rgba(0,0,0.2);
	border-left: 3px outset rgba(0,0,0.3);
	border-right: 3px outset rgba(0,0,0.5);
	border-bottom: 3px outset rgba(0,0,0.5);
}
.rdw-dropdown-selectedtext{
    background-color: rgba(253, 253, 253, 0);

}
