.specificBreweryContainer{
    width:70%;
    margin:auto;
    margin-top:5%;
    display:flex;
    flex-direction:row;
    height:100%;
    border-top: 3px outset rgba(0,0,0.2);
    border-left: 3px outset rgba(0,0,0.3);
    border-right: 3px outset rgba(0,0,0.5);
    border-bottom: 3px outset rgba(0,0,0.5);
    border-radius:2%;
    padding:5%;
}
.specificBreweryContainerIMG{
    width:100%;
    margin:auto;
    border-radius: 3% 3% 0% 0%;
    display:flex;
    max-height:70%;
    height:350px;
}
.menuHead{
    width:fit-content;
    font-family: Rye;
    margin:auto;
    padding:2%;
}
.menuHolder{
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top:2%;
}
.menuHolder>h4{
    width:33%;
    padding:3%;
    font-size: 25px;
    color:#B4C4BC;
    margin:auto;
    display: flex;
    justify-content: center;
}
.buttonCenterDelete{
    position: relative;
    top:62%;
    width: fit-content;
    margin:auto;
}

.specificBreweryContainerBtn{
    display:flex;
    margin:auto;
    margin-top:0%;
    margin-bottom: 0%;
    width:100%;
    display:flex;
    justify-content: center;
    background-color: black;
    border-radius:0% 0% 3% 3%;
    position:relative;
    bottom:15%;
}
.siideArrows{
    width: 90%;
    position:relative;
    z-index: 5;
    bottom:40%;
    display:flex;
    justify-content: space-between;
    margin:auto;
}
.fa-chevron-right{
    color:#B4C4BC;
    height:50px;
}
.fa-chevron-right:hover{
    color:gray;
    cursor: pointer;
}
.fa-chevron-left:hover{
    color:gray;
    cursor: pointer;
}
.fa-chevron-left{
    color:#B4C4BC;
    height:50px;
}
.specificBreweryContainerBtn button{
    cursor: pointer;
    color:whitesmoke;
}
.specificBreweryContainerBtn button p{
    color:whitesmoke;
}
.specificBreweryContainerimgs {
    margin:auto;
    
}
.specificBreweryContainerinfo{
    
    width:60%;
    
    margin-left:10%;


}
.specificHeader{
    font-family: Rye;
}
.specificHeaderLike{
    color:#B4C4BC;
}
.specificBreweryContainerinfo p {
    width:fit-content;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
.specificHolder{
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.specificHolder h2 {
    font-family: Rye;
    font-size:40px;
}
.locationHolder{
    display:flex;
    margin-top:2%;
   
}

.locationHolderSpecific p {
    margin:auto;
    margin-top:3%;
    padding:3%;
    color:#B4C4BC;
}
.specificDesc{
    width:fit-content;
}
.specificLeft{
    display:flex;
    flex-direction: column;
    width:30%;
}
.specificHeart{
    padding-right:3%;
    color:#B4C4BC;
}
.specificHeart:hover{
    cursor:pointer;
}
.details {
    display: flex;
    flex-direction: column;
}
.specificFont{
    font-family: Rye;
    width:fit-content;
    font-size:70px;
    overflow-wrap: break-word;

    word-break:break-all;
}
.reviewcardContainer{
    width:60%;
    max-height:700px;
    margin:auto;
    margin-right:0%;
    overflow-y: scroll;
}
.reviewcardContainer::-webkit-scrollbar {
    display:none;
}
.bottomSpecified{
    display:flex;
    margin-left:10%;
    margin-bottom: 3%;
    margin-right:10%;
    width:72;

}
.locationHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:46%;
    height:40%;
    margin:1%;
    margin-top:1.25%;
    margin-left:0%;
    border-top: 3px outset rgba(0,0,0.2);
    border-left: 3px outset rgba(0,0,0.3);
    border-right: 3px outset rgba(0,0,0.5);
    border-bottom: 3px outset rgba(0,0,0.5);
    border-radius:2%;
}

.specificHolder{
    margin:auto;
}
.sortButton {
    width:80%;
    margin:auto;
    padding-bottom: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 3%;
    border-top: 3px outset rgba(0,0,0.2);
    border-left: 3px outset rgba(0,0,0.3);
    border-right: 3px outset rgba(0,0,0.5);
    border-bottom: 3px outset rgba(0,0,0.5);
}

.penBrews:hover{
    color:black;
    cursor: pointer;
}
.createBrewModal{
    width: 8%;
    margin:auto;
}
.buttonsEditBeer{
    padding-left:2%;
}