.allBrewContainer{
    width:30%;
    height:95%;
    border-radius:0px 8px 0px 0px;
    background-color:rgba(253, 253, 253, 0.26);
    position: absolute;
    top:25%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.allBrewContainer:hover{
    overflow-x: hidden;
    overflow-y: scroll;
}

.allBrewContainer::-webkit-scrollbar {
    display:none;
}