.searchBar{
    display: flex;
    width:30%;
    height:30%;
    margin-top:3%;
    margin-bottom: 0%;
}
.search {
/* margin-right: 1%; */
width:40%;
}
.searchOne {
    border:solid 2px black;
    border-right:1px;
    border-radius: 12px 0px 0px 12px;
    background-color:rgba(253, 253, 253, 0.26);
}
.searchTwo {
    border:solid 2px black;
    border-radius: 0px 0px 0px 0px;
    background-color:rgba(253, 253, 253, 0.26);
    border-right:0px;
}
.searchbtn{
    width:10%; 
    border:solid 2px black;
    border-radius: 0px 12px 12px 0px;
    background-color:rgba(253, 253, 253, 0.26);
    border-left:0px;
}
.searchbtn:hover{
    cursor: pointer;
}

.search::placeholder{
    padding-left:5%;
    color:black;
}