/* TODO Add site wide styles */
#root{
    margin-left:-1%;
    margin-right: -1%;
}

@font-face {
    font-family: Rye;
    src: local('Rye'),
    url('./fonts/Rye/Rye-Regular.ttf');
}
@font-face{
    font-family: sevillina;
    src: local('Sevillina'),
    url('./fonts/Sevillana/Sevillana-Regular.ttf');
}

