.nav {
    display:flex;
    flex-direction: row;
    width:100%;
    background-color: rgba(253, 253, 253, 0);
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3%;
    position: relative;
    z-index: 10;
    height:100px;
    margin-top:-1%;

}


.navDrop{
    display:flex;
    flex-direction: row;
    margin-top:1%;
    height:70%;
    width:35%;
    margin-bottom:0%;
    
    
}
.searchTab{
    width:100px;
}

.navHomeLink{
    padding-right:5%;
}
.navHomeLink a{
    text-decoration: none;
    color:#B4C4BC;
    font-size:30px;
    padding-left:25%;
}
.navDrop div {
    display:flex;
    align-items: center;
    justify-content:flex-start;
    
}

.hidden {
    visibility: hidden;
}
.imgHollderNav{

    position:relative;
    top:25%;
   left:3%;
}
.navLogo{
    width:25%;
    padding-left: 10%;
    cursor: pointer;
}
.profile-dropdown {
    position:relative;
    right:85%;
    top:170%;
   background-color:rgba(253, 253, 253, 0.26);
   backdrop-filter: blur(5px);
   border-radius:5%;
   height:180px;
   width:280px;
   
}
.navdropcomp:hover{
color:#B4C4BC
}
.modalButton{
    width:100%;
}
.profile-dropdown li {
    width:80%;
    margin:auto;
    margin-left:-10%;
    padding-top:9%;
}
.profile-dropdown li a, p, button {
    text-decoration:none;
    color:black;
}
.profileButton{
    height:50%;
    width:20%;
    background:transparent;
    border:none;
    color:#B4C4BC;
}
.profileButton svg {
    width:100%;
}
.profileButton:hover{
    cursor: pointer;
}
.dropComp {
   
        width:fit-content;
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;   
        margin-left:6%;
        padding:2%;
    
}
 .shortenDiv{
width:35%;
}