.createBrewForm{
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:5%;
}
.imgCreateBrew{
    margin:auto;
    display: flex;
    justify-content: center;
    padding-top:20%;
}
.imgCreateBrew>img{
    width:200px;
}
.createBrewForm>div{
    display: flex;
    flex-direction: column;
    width:20%;
    margin:auto;
}
.createBrewForm>div>button{
    width: 50%;
    margin:auto;
    margin-top:8%;
}